{
  "parser": "babel-eslint",
  "env": {
      "es6": true,
      "jest": true,
      "browser": true
  },
  "parserOptions": {
      "ecmaversion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
  },
  "extends": ["eslint:recommended", "standard"],
  "plugins": [
  ],
  "rules": {
    "no-console": [2, {"allow": ["warn", "error"]}],
    "comma-dangle" : [2, "always-multiline"],
    "semi": [2, "never"],
    "no-extra-semi": 2,
  },
}
